In [17]:
import pandas as pd 
import  numpy as np

In [18]:
df =pd.read_csv("advertising_data.csv",index_col=0)
df.reset_index(drop=True,inplace=True)
df.head()

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9        NaN    9.3
3  151.5   41.3       58.5   18.5
4  180.8    NaN       58.4   12.9

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   TV         180 non-null    float64
 1   radio      180 non-null    float64
 2   newspaper  180 non-null    float64
 3   sales      200 non-null    float64
dtypes: float64(4)
memory usage: 6.4 KB

In [20]:
col_dtypes= df.dtypes
print(type(col_dtypes))

<class 'pandas.core.series.Series'>

In [23]:
print(col_dtypes.index)

Index(['TV', 'radio', 'newspaper', 'sales'], dtype='object')

In [24]:
for col in col_dtypes.index:
    print(col,col_dtypes[col])

TV float64
radio float64
newspaper float64
sales float64

In [27]:
schema={"TV": "float64", "radio": "float64", "newspaper": "float64", "sales": "float64"}

In [28]:
for i in schema.keys():
    print(schema[i])

float64
float64
float64
float64